body {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  gap: 60px;
  color: #3d3d3d;
}

path {
  fill: #3d3d3d;
}

#logo-circle {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-circle:hover {
  opacity: 0.75;
  cursor: pointer;
}

#profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

#profile img {
  width: 215px;
  height: 215px;
}

#profile-text {
  display: flex;
  flex-direction: column;
}

#profile-text h1 {
  font-size: 46px;
  line-height: 69px;
  font-weight: 500;
  margin: 0;
}

#profile-text p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  margin: 0;
}

#logos {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
